.review {
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.review {
  .left {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .content {
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
  }
  .buttonLeft {
    width: 30%;
    background-color: white;
    color: #34495e;
  }
  .buttonLeft:hover {
    transition: all ease 0.5s;
    background-color: gray;
  }
  span {
    color: #34495e;
  }
}

